# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

*/node_modules/*
alamo/lib/firebase_options.dart
alamo/ios/Runner/GoogleService-Info.plist
alamo/functions/package-lock.json
alamo/package-lock.json
alamo/pubspec.lock
alamo/firebase.json
alamo/android/app/google-services.json
alamo/.env

alamo/functions/venv/*
# Ignore Python virtual environment
functions/venv/

# Ignore __pycache__ folders (Python bytecode cache)
functions/**/__pycache__/
functions/**/*.py[cod]

# Ignore compiled Python files
functions/**/*.pyc

# Ignore local environment configuration
functions/.env
functions/.python-version

# Ignore log files
functions/*.log

# Ignore any coverage reports
functions/htmlcov/
functions/.coverage
functions/.coverage.*

# Ignore temporary files or folders created by editors/IDEs
functions/.vscode/
functions/.idea/
functions/*~

# Ignore macOS specific files
functions/.DS_Store

# Ignore Firebase Functions build and deployment files (Node.js specific)
functions/node_modules/
functions/package-lock.json

# Ignore Python cache and pip files
functions/pip-log.txt
functions/pip-delete-this-directory.txt

# Ignore any other temporary or backup files
functions/.pytest_cache/
functions/*.bak
functions/*.swp
alamo/functions/.env
